{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        <div class="control-group">
            <div class="controls">
                {{ form }}
                <input type="submit" class="btn btn-success" value="Mudar">
            </div>
        </div>
    </form>

    <table class="table">
        <tbody>
        <tr>
            <td class="span3"></td>
            <td>Posição</td>
            <td>Estudante</td>
            <td>Média</td>
        </tr>
        {% for infos in info %}
            <tr>
                <td></td>
                <td>{{ infos.get_index }}º</td>
                <td>{{ infos.student }}</td>
                <td>{{ infos.record }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
